.bodyz {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0rem;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar//////////////////////////////////////////////////// */

.firstlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111647;
  padding: 10px;
}

.menuitems {
  display: flex;
  justify-content: space-between;
  background-color: #111647;
  padding: 10px;
}


/* Welcome pages//////////////////////////////////////////////////// */

.welcomediv {
  display: flex;
  flex-direction: row;
  height: 860px;
}

.welcomechungus {
  width: 35%;
  height: 860px;
  position: relative;
  float: right;
  background-color: rgb(54, 128, 151);
  border: 7px solid rgb(0, 0, 0);
  background: url("https://png.pngtree.com/thumb_back/fw800/background/20210115/pngtree-vector-original-ai-layered-rock-granite-marble-background-image_528250.jpg") no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 8px;
}

.welcometitle {
  text-align: center;
  font-size:60px;
  font-weight: bold;
}
.welcometext {
  text-align: center;
  font-size:40px;
  font-weight: bold;
  margin-top: 20px;
}
.bigchungus {
  height: 400px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.welcomephoto {
  width: 65%;
  background: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pillars_of_creation.jpg") no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signupdiv {
  display: flex;
  flex-direction: row;
  background: url("https://i.natgeofe.com/k/b444c8c2-7cef-4d09-801b-6b13044f0646/a-8-hubble-space-telescope-crab-nebula.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  background-color: #e2cfe7;
  border: 5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1rem 1rem;
  height: 700px;
}

.logindiv {
  display: flex;
  flex-direction: row;
  background: url("https://cdn.theatlantic.com/media/img/photo/2020/11/2020-hubble-space-telescope-advent/a01_heic1608b-1/original.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
}

.login {
  background-color: #9bd3e4;
  border: 5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1rem 1rem;
  height: 300px;
  margin-top: 100px;
}


/* Userhome/////////////////////////////////////////////////////////// */
.userhome {
  display: flex;
  flex-direction: row;
}

.nasaimage {
  width: 100%;
  height: 800px;
  position: relative;
  float: right;

}

.welcomenasa {
  text-align: center;
  font-size:40px;
  font-weight: bold;
}

.nasatext {
  align-items: center;
  text-align: center;
  font-size:20px;
  font-weight: bold;
  margin-top: 80px;
}

/* Courses////////////////////////////////////////////////////////// */

.courses {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

div.ui.card {
  width: 100%;
  align-items: center;
}

.courseimage {
  width: 390px;
  height: 400px;
}

.chapters {
  height: 800px;
  margin-top: 80px;
}

.chaptercontent {
  text-align: center;
  height: 500px;
}

.chapterimage {
  width: 100%;
  height: 450px;
  position: relative;
  float: right;  
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.chaptertitle {
  font-size:35px;
  font-weight: bold;
  font-style: italic;
}

.chaptertext {
  align-items: center;
  text-align: center;
  font-size:18px;
  font-weight: bold;
  margin-top: 80px;
}


/* Quiz///////////////////////////////////////////////////////////////// */

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quizsection {
  width: 60%;
  height:350px;
}

.questionnumber {
  font-size:30px;
  font-weight: bold;
  font-style: italic;
  padding:10px
}

.quesitontext {
  font-size:30px;
  font-weight: bold;
  margin-top: 60px;
  text-align: center;
}

.answers {
  margin-top: 77px;
}
.quizbutton {
  width: 100%;
  font-size: 16px;
  display: flex;
}

.scoresection {
  font-size: 30px;
}

.passchungus {
  width: 400px;
  height: 400px;
  float: right;
}

.rechungus {
  width: 400px;
  height: 400px;
}

.retakesection {
  width: 400px;
  font-size: 35px;
  text-align: center;
}
.retake {
  width: 100%;
}

/* Profile/////////////////////////////////////////////////////////////////// */

.profilediv{
  text-align: center;
  background-color: #d3e5e6;
}

.names{
  font-size: 50px;
  margin-bottom: 50px;
}

.username{
  font-size: 40px;
}

.email{
  font-size: 30px;
}

.profileimage{
  width: 500px;
  height: 500px;
}

.editdiv {
  display: flex;
  flex-direction: row;
  background: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/potw2139a.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thetabs {
  padding: 10px;
}


/* NumericalMethods////////////////////////////////////////////////////////////////// */

.numericalmethoddiv{
  padding: 30px;
}

.methodtitle{
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-style: italic;
}

.numericalimage {
  width: 100%;
  height: 460px;
  position: relative;
  float: right;

}

.newtonsmethod{
  background-color: #cfc781;
  height: 500px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.simpsonsrule{
  background-color: #cfc781;
  height: 600px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.powermethod{
  background-color: #cfc781;
  height: 780px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.jacobimethod {
  background-color: #cfc781;
  height: 730px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.grapher {
  background-color: #8ab37f;
  height: 500px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

/* testimonials////////////////////////////////////////////////////////// */

.testimonialdiv{
  background-color: #d3e5e6;
}

.testimonialshead{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  font-style: italic;
}

.testimonialform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtestimonial{
  background-color: #aec3c4;
  border: 5px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 1rem 1rem;
  height: 400px;
}

.testimonialimage{
  width: 400px;
  height: 400px;
  margin-left: 100px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.testimonialname{
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  font-style: italic;
}

.testimonialtext{
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-style: italic;
}

iframe
{
    display: none;
}